* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

header {
    font-size: 25px;
    font-weight: 600;
    margin-left: 70px;
    margin-top: 40px;
}

.links {
    margin-right: 30px;
    color: #989D9C;
    cursor: pointer;
}

.links:hover {
    color: #b8bebd;
}

.login {
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    background: #665AE1;
    border: none;
    border-radius: 40px;
    width: 180px;
    height: 60px;
    cursor: pointer;
}


.login:hover {
    width: 185px;
    height: 65px;
}

.login:active {
    width: 175px;
    height: 55px;
}

h1 {
    font-size: 110px;
    font-weight: 900;
    color: #515151;
}

h2 {
    font-size: 68px;
    font-weight: 500;
    color: #515151;
}

p {
    font-size: 30px;
    font-weight: 400;
    color: #848484;
    margin: 30px 0 40px 0;
}

.explore {
    font-size: 25px;
    font-weight: 700;
    background: #ADFF00;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    border-radius: 40px;
}

.explore:active {
    width: 195px;
    height: 65px;
}

.explore:hover {
    width: 205px;
    height: 75px;
}

section {
    display: inline-block;
    width: 600px;
    margin-top: 17vh
}

img {
    display: inline-block;
    margin-left: 100px;
    margin-right: 200px;
    width: 500px;
}